
      <!-- FOOTER -->
      <footer>
        <p class="pull-right">        (0654)-23-07-41 / +7(978)-76-12-613 <a href="#"> Вверх</a>
        </p>
        <p>&copy; Deviant Dev &middot;</p>
      </footer>
 