<% provide(:boats, "active") %>
      <!-- START THE FEATURETTES -->
      <style type="text/css">
      #boats { margin-top: 100px}
      </style>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Катер <span class="text-muted">EUROCROWN 196 BR Sport</span></h2>
          <p class="lead">
          Eurocrown 196 BR – катера, выполненные в спортивном стиле и укомплектованные мощными двигателями, позволят Вам испытать острые ощущения и азарт гонки на воде.
          <code>В наличии 2 единицы(без мотора). Цена - 19 000$</code>
          </p>
        </div>
        <div class="col-md-5">
          <img id="boats" class="featurette-image img-responsive center-block" src="http://www.vipkater.com/data/content/196%20brs.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Катер <span class="text-muted">EUROCROWN 196 BR</span></h2>
          <p class="lead">Eurocrown 196 BR имеет носовой открытый кокпит, в котором свободно могут    разместиться четыре человека. Эффект скольжения над водой, с рядом  летящей птицей надолго останется у Вас в памяти. Легкий и мобильный на трейлере катер, всегда готов к старту и способен преодолеть волну и морского залива и обширные просторы могучих рек.<code> Цена - 35 000$</code></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="boats" class="featurette-image img-responsive center-block" src="http://www.eurocrown.com.ua/images/katers/196br_1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Катер <span class="text-muted">EUROCROWN 180 BR Outboard</span></h2>
          <p class="lead">Легкий и маневренный Euroсrown 180 BR Outboard способен доставить истинное наслаждение от «полета» по волнам. Катер отлично ведет себя на воде, а благодаря небольшому весу скорость 90 км/ч не кажется фантастикой. На катер можно установить подвесной мотор мощностью до 200 л.с.<code> Цена - 17 000$</code></p>
        </div>
        <div class="col-md-5">
          <img id="boats" class="featurette-image img-responsive center-block" src="http://www.vipkater.com/data/content/180bro.GIF" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->