<% provide(:canam, "active") %>
      <style type="text/css">
        #quadro {margin-top: 100px;}
      </style>
      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick 1000</span></h2>
          <p class="lead">Не стоит так просто доверять написанному.Попробуйте его хоть раз в деле, чтобы действительно узнать, на что он способен! 101-сильный Can-Am Maverick обладает мощностью, точным управлением и маневренностью. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_1000/maverick_1000r_3-4_front_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick 1000 X rs DPS </span></h2>
          <p class="lead">Высокоэффективные амортизаторы, обивка сиденья в стиле"Х", аналогово-цифровой дисплей – все это для еще более спортивного вида и поведения. Больше стиля, больше управляемости, больше скорости с трехрежимным динамическим усилителем руля (DPS). </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_1000_xrsDPS/maverick_1000r_x_rs_dps_3-4_whtred_blk_cage_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick 1000 X ds DPS  </span></h2>
          <p class="lead">101-сильный Can-Am Maverick разбивает границы мощности и технического совершенства прямо у вас на глазах. Лучшее соотношение мощности к весу и лучшее ускорение, просторный и стильный кокпит, уникальная многорычажная подвеска на А-образных рычагах (TTA) для сохранения плавности хода, а также малый неподрессоренный вес по сравнению с другими спортивными мотовездеходами. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_1000_xdsdps/maverick_1000r_x_ds_3-4_front_blkwht_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick 1000 X ds DPS Turbo Carbon</span></h2>
          <p class="lead">Получите максимум впечатлений от самого мощного мотовездехода с поперечной посадкой в истории. 121-сильный турбированный двигатель Rotax 1000R, измененная многорычажная подвеска на А-образных рычагах (ТТА) с ходом в 406 мм (16 дюймов), просторный и стильный кокпит. Мы снова расширили границы. Теперь ваш ход! </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_1000_xdsdps_tc/maverick_1000r_x_ds_turbo_3-4_front_carbblk_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick 1000 XMR Digital camo</span></h2>
          <p class="lead">Самый мощный в отрасли двигатель Rotax 1000R, специализированные грязевые шины, измененная конструкция впуска воздуха в двигатель ивпуска и выпуска воздуха в вариатор, электрическая лебедка WARN с роликовым тросоукладчиком и дистанционным управлением. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_1000_xmr_dc/maverick_1000r_x_mr_3-4_dcammngrn_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander Max 1000 XT</span></h2>
          <p class="lead">В вашем распоряжении лидер по мощности и ходовым показателям, имеющий больше преимуществ и внедорожных качеств благодаря предустановленной лебедке WARN с тяговым усилием 2041 кг. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/com_max_1000_xt/commander_max_1000_xt_3-4_brsalm_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander MAX 1000 XT CAMO</span></h2>
          <p class="lead">В вашем распоряжении лидер по мощности и ходовым показателям, имеющий больше преимуществ и внедорожных качеств благодаря предустановленной лебедке WARN с тяговым усилием 2041 кг. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/com_max_1000_xt/commander_max_1000_xt_3-4_camo_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander MAX 1000 LTD</span></h2>
          <p class="lead">В вашем распоряжении лидер по мощности и ходовым показателям, имеющий больше преимуществ и внедорожных качеств благодаря предустановленной лебедке WARN с тяговым усилием 2041 кг. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/com_max_1000_ltd/commander_max_1000_limited_3-4_dppewt_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander 800</span></h2>
          <p class="lead">В вашем распоряжении лидер по мощности и ходовым показателям. Смело выезжайте на мотовездеходе Commander на трассу, где с ним не сравнится ни один утилитарно-туристический конкурент. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/Commander_800/commander_800_3-4_red_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander 800 DPS</span></h2>
          <p class="lead">В вашем распоряжении лидер по мощности и ходовым показателям с трехрежимным динамическим усилителем руля (DPS). Смело выезжайте на мотовездеходе Commander на трассу, где с ним не сравнится ни один утилитарно-туристический конкурент. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/com_800_dps/commander_800r_dps_3-4_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander 1000 XT</span></h2>
          <p class="lead">В вашем распоряжении лидер по мощности и ходовым показателям, имеющий больше преимуществ и внедорожных качеств благодаря предустановленной лебедке WARN с тяговым усилием 2041 кг. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/com_1000_xt/commander_1000_xt_3-4_brsalm_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander 1000 XT Camo</span></h2>
          <p class="lead">ВВ вашем распоряжении лидер по мощности и ходовым показателям. Смело выезжайте на мотовездеходе Commander на трассу, где с ним не сравнится ни один утилитарно-туристический конкурент. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/com_1000_xt/commander_1000_xt_3-4_camo_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander 1000 XT-P</span></h2>
          <p class="lead">В вашем распоряжении лидер по мощности и ходовым показателям. Вас ждут незабываемые экстремальные поездки на колесах с системой "бедлок". </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/com_1000_xtp/commander_1000_xt-p_3-4_blkorg_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Commander 1000 LTD</span></h2>
          <p class="lead">В вашем распоряжении лидер по мощности и ходовым показателям. Смело выезжайте на мотовездеходе Commander на трассу, где с ним не сравнится ни один утилитарно-туристический конкурент. </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/com_1000_ltd/commander_1000_limited_3-4_dppewt_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick Max 1000</span></h2>
          <p class="lead">Не стоит так просто доверять написанному.Попробуйте его хоть раз в деле, чтобы действительно узнать, на что он способен! 101-сильный Can-Am Maverick обладает мощностью, точным управлением и маневренностью.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_max_1000/maverick_max_1000r_3-4_front_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick Max 1000 X rs DPS</span></h2>
          <p class="lead">Высокоэффективные амортизаторы, обивка сиденья в стиле"Х", аналогово-цифровой дисплей – все это для еще более спортивного вида и поведения. Больше стиля, больше управляемости, больше скорости с трехрежимным динамическим усилителем руля (DPS).  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_max_1000_xrsdps/maverick_max_1000r_x_rs_dps_3-4_whtred_blk_cage_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick Max 1000 X ds DPS</span></h2>
          <p class="lead">Получите максимум впечатлений от самого мощного мотовездехода с поперечной посадкой в истории. 121-сильный турбированный двигатель Rotax 1000R, измененная многорычажная подвеска на А-образных рычагах (ТТА) с ходом в 406 мм (16 дюймов), просторный и стильный кокпит. Мы снова расширили границы. Теперь ваш ход!  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_max_1000_xds/maverick_max_1000r_x_ds_3-4_front_blkwht_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Багги <span class="text-muted">Maverick Max 1000 X ds DPS Turbo Carbon</span></h2>
          <p class="lead">Получите максимум впечатлений от самого мощного мотовездехода с поперечной посадкой в истории. 121-сильный турбированный двигатель Rotax 1000R, измененная многорычажная подвеска на А-образных рычагах (ТТА) с ходом в 406 мм (16 дюймов), просторный и стильный кокпит. Мы снова расширили границы. Теперь ваш ход!  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/sbs/mav_max_1000_xds/maverick_max_1000r_x_ds_turbo_3-4_front_carbblk_15.jpg" alt="Generic placeholder image">
        </div>
      </div>
      

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Maverick Max 1000 X ds DPS Turbo Carbon</span></h2>
          <p class="lead">Получите еще больше преимуществ и внедорожных качествпри помощи предустановленной лебедки WARN с тяговымусилием 1361 кг.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_1000_xt/outlander_1000_xt_3-4_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER 650 DPS</span></h2>
          <p class="lead">Возьмите все необходимые составляющие для прекрасной поездки, включая трехрежимный электроусилитель рулевого управления DPS.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_650/outlander_650_dps_3-4_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER 650 XT</span></h2>
          <p class="lead">Получите еще больше преимуществ и внедорожных качеств при помощи предустановленной лебедки WARN с тяговым усилием 1361 кг. Прекрасно совмещает в себе обе роли: игрушки и рабочего инструмента. Модификация ХТ — «золотая середина» в линейке. Вся внедорожно-гоночно-развлекательная начинка присутствует.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_650_xt/outlander_650_xt_3-4_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER 1000 XT-P</span></h2>
          <p class="lead">Скоростные поездки на колесах с системой "бедлок" для незабываемого опыта. Полноценный двухместный квадроцикл с большими грузовыми возможностями и простой трансформацией в одноместную спортивную модель.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_1000_xt-p/outlander_1000_xt-p_3-4_blkorg_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER L 450</span></h2>
          <p class="lead">В основе этой бюджетной версии Outlander с G2 лежит все тот же генетический код Can-Am, который гарантирует лучшие на рынке технические характеристики, исключительную точность управления и эргономичный дизайн, центром которого является водитель.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/18092014/outlander_l_450_3-4_red_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER L 450 DPS</span></h2>
          <p class="lead">НОВЫЙ одноцилиндровый двигатель Rotax 450 мощностью 38 л.с. Он создан на основе двигателя Rotax 400 предыдущего поколения: у двигателя изменили цилиндры, увеличив рабочий объем до 427 см3. В двигателе стоит новый поршень, новый цилиндр и обновленный корпус.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/l_450_dps/outlander_l_450_dps_3-4_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER L 500</span></h2>
          <p class="lead">В основе этой бюджетной версии Outlander с G2 лежит все тот же генетический код Can-Am, который гарантирует лучшие на рынке технические характеристики, исключительную точность управления и эргономичный дизайн, центром которого является водитель.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/l_500/outlander_l_500_3-4_red_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER L 500 DPS</span></h2>
          <p class="lead">Для этой новой модели представлен широкий выбор высококачественных аксессуаров, которые позволяют модифицировать модель в соответствии с индивидуальными потребностями. Крепление LinQ к грузовой багажной площадке квадроцикла подходит для перевозки крупногабаритного груза, такого, как цепная пила или топливная канистра, при этом груз надежно закреплен и легко доступен.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/l_500_dps/outlander_l_500_dps_3-4_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER L MAX 500 DPS</span></h2>
          <p class="lead">Новый дизайн передней части, в сочетании с новой передней площадкой, улучшает обзор водителя.И передняя, и задняя грузовые площадки оборудованы системой быстросъемного крепежа LinQ. Общая грузоподъемность багажных площадок была увеличена до 163 кг. Еще одно различие: разница в использовании прямоугольной цифровой приборной панели, представляющей водителю все ключевые функции.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/l_500_dps_max/outlander_l_max_500_dps_3-4_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Outlander L 500 MAX DPS ОСОБАЯ СЕРИЯ</span></h2>
          <p class="lead">Помимо стандартной комплектации MAX DPS квадроцикл оборудован лебедкой, ветровым стеклом, задним коробом, надставкой багажника, передней сумкой, передним и задним бамперами, фаркопом, расширителем крыльев, зеркалами и алюминиевой защитой днища. Outlander L 500 MAX DPS ОСОБАЯ СЕРИЯ готов к любым приключениям!  Больше никаких компромиссов при выборе нового квадроцикла. Только исключительные внедорожные качества, только самые совершенные технологии!  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/outlander_os/test.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER L MAX 500</span></h2>
          <p class="lead">Новая система крепления расположена в нижней части поддержки спины для более легкого доступа в любое время. Пассажирские рукоятки отличаются более эффективной интеграцией с системой подогрева. Новое сиденье представлено на всех моделях G2 MAX 2015 модельного года.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/l_500_max/outlander_l_max_500_3-4_red_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER L MAX 450 DPS</span></h2>
          <p class="lead">Outlander L построен на платформе SST G2 и сохраняет большинство характеристик и технологий этой рамы. Это означает, что Outlander L обладает той же колеей и той же длиной колесной базы, что и Outlander G2. Он использует Visco Lok и Visco Lok QE на моделях с трехрежимным динамическим усилителем руля.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/l_450_dps_max/outlander_l_max_450_dps_3-4_ylw_15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER L MAX 450</span></h2>
          <p class="lead">Более длинная колесная база (на 20,3 см) позволяет расположить пассажирское сиденье перед задней осью. Более высокие пассажирские подножки и размещение сидений для задних пассажиров на возвышении, что обеспечивает лучший обзор сзади.Задняя грузовая площадка полноценной грузоподъемности.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/l_450_max/outlander_l_max_450_3-4_red_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">DS 450 XMX</span></h2>
          <p class="lead">Готов к гонкам прямо с конвейера! Его комплектация впечатлит любого гонщика квадрокросса.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/DS_450_XMX/ds_450_x_mx_3-4_blkylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER MAX 1000 XT</span></h2>
          <p class="lead">Одна из отличительных черт комплектации XT - передний дифференциал Visco-Lok QE, главное преимущество которого - быстрая реакция. Дифференциал мгновенно блокируется, как только в этом возникает необходимость и позволяет без проблем преодолеть сложный участок. Активация происходит незаметно, поэтому водителю нет необходимости отрывать взгляд от дороги.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_max_1000_xt/outlander_max_1000_xt_3-4_brsalm.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER MAX 800 XT</span></h2>
          <p class="lead">Одна из отличительных черт комплектации XT - передний дифференциал Visco-Lok QE, главное преимущество которого - быстрая реакция. Дифференциал мгновенно блокируется, как только в этом возникает необходимость и позволяет без проблем преодолеть сложный участок. Активация происходит незаметно, поэтому водителю нет необходимости отрывать взгляд от дороги.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_max_800xt/outlander_max_800r_xt_3-4_ylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER MAX 650 XT</span></h2>
          <p class="lead">Одна из отличительных черт комплектации XT - передний дифференциал Visco-Lok QE, главное преимущество которого - быстрая реакция. Дифференциал мгновенно блокируется, как только в этом возникает необходимость и позволяет без проблем преодолеть сложный участок. Активация происходит незаметно, поэтому водителю нет необходимости отрывать взгляд от дороги.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_max_650_xt/outlander_max_650_xt_3-4_ylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER MAX 650 XT Camo</span></h2>
          <p class="lead">В комплектацию входят лебедка, усиленные бамперы, защита рук, литые диски и резина с агрессивным протектором. Версия MAXпредлагает Вам целый набор вариантов использования мотовездехода: поездка с пассажиром, транспортировка крупногабаритных грузов или установить короб для перевозки багажа, ­ все зависит от Вашего выбора.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_max_650_xt/outlander_max_650_xt_3-4_camo_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER MAX 800 XT-P</span></h2>
          <p class="lead">Скоростные поездки на колесах с системой "бедлок" для незабываемого опыта. Полноценный двухместный квадроцикл с большими грузовыми возможностями и простой трансформацией в одноместную спортивную модель.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_max_800_xtp/outlander_max_800r_xtp_3-4_blkorg_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER MAX 1000 XT Camo</span></h2>
          <p class="lead">С квадроциклом Outlander MAX вы сможете разделить свою радость с пассажиром. В комплектацию входят лебедка, усиленные бамперы, защита рук, литые диски и резина с агрессивным протектором.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_max_1000_xt/outlander_max_1000_xt_3-4_camo_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER MAX 1000 XT-P</span></h2>
          <p class="lead">Скоростные поездки на колесах с системой "бедлок" для незабываемого опыта. Маневренность, потрясающая проходимость и спортивный характер. Агрессивная внешность красноречиво свидетельствует о мощи агрегата.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_max_1000_xtp/outlander_max_1000_xtp_3-4_blkorg_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER MAX 1000 LTD</span></h2>
          <p class="lead">Самый роскошный опыт поездок вдвоем по бездорожью. В основе – философия динамичного комфорта, то есть удобства пассажира в сочетании с правильными ощущениями драйва. Любителям загнать OUTLANDER MAX 1000 LTD  в самые непроходимые болота поможет функция Visco-Lok QE быстрого срабатывания, отвечающая за блокировку переднего моста.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_max_1000_ltd/outlander_max_1000_limited_3-4_dppewt_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER 800 X mr</span></h2>
          <p class="lead">Любую найденную на маршруте грязь квадроцикл преодолеет, как ровное полотно дороги. Если раньше вы были не готовы совершать экстремально дерзкие вылазки в глубокие броды, болота и страшную грязь, с появлением у вас OUTLANDER 800 X MR все изменится кардинально! Туризм подобного рода ему по плечу.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_800_xmr/outlander_800r_x_mr_3-4_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER 650 X mr</span></h2>
          <p class="lead">Самая доступная грязевая машина на рынке. Лучший вариант готового квадроцикла для самой грязной и непролазной трассы. Outlander 650 X MR от Can-Am - это лучший квадроцикл в классе настоящего OFF-ROAD! Выбирая квадроцикл, чтобы по-настоящему месить грязь, надо выбрать именно Can-Am Outlander 650 X MR.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_650_xmr/outlander_650_x_mr_3-4_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER 1000 X mr</span></h2>
          <p class="lead">Экстремальная машина для покорения грязи, оснащенная мощнейшим двигателем Rotax 1000, трехрежимным динамическим усилителем руля (DPS), специальными грязевыми аксессуарами, интегрированной системой шноркелей (ISS) и рамой по технологии пространственной балки (SST) второго поколения для отточенного управления.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_1000_xmr/outlander_1000_x_mr_3-4_blkylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">OUTLANDER 1000 X mr</span></h2>
          <p class="lead">Экстремальная машина для покорения грязи, оснащенная мощнейшим двигателем Rotax 1000, трехрежимным динамическим усилителем руля (DPS), специальными грязевыми аксессуарами, интегрированной системой шноркелей (ISS) и рамой по технологии пространственной балки (SST) второго поколения для отточенного управления.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_1000_xmr/outlander_1000_x_mr_3-4_dcammngrn_15_2.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Renegade 1000 XXC Digital Camo</span></h2>
          <p class="lead">Оснащенный мощным сдвоенным двигателем Rotax 1000 на 82 л.с. с V-образным расположением цилиндров, он просто дрожит от желания испытать свою силу на бездорожье. Прибавьте еще превосходную систему подвески, амортизаторы, шины и колёсные диски — и тогда Вы поймёте, что по рабочим характеристикам этот мотовездеход достиг самой высокой ступени и перешел на следующий, принципиально новый уровень качества. Новшество 2015-го: раскраска Digital Camo & Manta Green.  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/Renegade_1000_X_xc/renegade_1000_x_xc_3-4_r_dcammngrn.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Renegade 800 Std Yellow </span></h2>
          <p class="lead">Передние и задние амортизаторы FOX PODIUM RC2 (в комплектации с двигателями 1000 и 800R), передний дифференциал "Visco-Lok", технология пространственной рамы второго поколения (SST G2).  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/renegade_800/renegade_800r_3-4_r_ylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Renegade 500 Std Yellow  </span></h2>
          <p class="lead">Передние и задние амортизаторы FOX PODIUM RC2 (в комплектации с двигателями 1000 и 800R), передний дифференциал "Visco-Lok", технология пространственной рамы второго поколения (SST G2).  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/renegade_500/renegade_500_3-4_r_ylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Renegade 800 XXC Black/Yellow </span></h2>
          <p class="lead">Специально разработанная и подготовленная для покорения бездорожья модель. Дополнительные опции для превосходных характеристик, такие, как высокоэффективные амортизаторы и колесные диски с системой "бедлок".  </p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/renegade_800/xxs/renegade_800r_x_xc_3-4_r_blkylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Outlander 6x6 1000 XT With Flat Bed kit</span></h2>
          <p class="lead">Поставляется в стандартной комплектации с установленнойна заводе лебедкой WARN с тяговым усилием в 1361 кг, задней двойной независимой маятниковой подвеской TTI2 и двухуровневым кузовом "Dual-Level" с модульными аксессуарами.</p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/6x6_1000_xt/outlander_6x6_1000_xt_3-4_ylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Outlander 6x6 650 DPS With Flat Bed kit</span></h2>
          <p class="lead">Поставляется в стандартной комплектации с установленнойна заводе лебедкой WARN с тяговым усилием в 1361 кг, задней двойной независимой маятниковой подвеской TTI2 и двухуровневым кузовом "Dual-Level" с модульными аксессуарами.</p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/6x6_650_xt/outlander_6x6_650_xt_3-4_gry_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">Outlander 6x6 1000 XT Camo With Flat Bed kit</span></h2>
          <p class="lead">Поставляется в стандартной комплектации с установленнойна заводе лебедкой WARN с тяговым усилием в 1361 кг, задней двойной независимой маятниковой подвеской TTI2 и двухуровневым кузовом "Dual-Level" с модульными аксессуарами.</p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/out_6x6_1000xt_camo/outlander_6x6_1000_xt_3-4_camo_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">DS 90</span></h2>
          <p class="lead">Для детей от 10 лет.</p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/ds90/ds_90_3-4_ylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">DS 90 X</span></h2>
          <p class="lead">Для детей от 10 лет.</p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/ds90/x/ds_90_x_3-4_blkylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Квадроцикл <span class="text-muted">DS 250</span></h2>
          <p class="lead">Для детей от 14 лет.</p>
        </div>
        <div class="col-md-5">
          <img id="quadro" class="featurette-image img-responsive center-block" src="http://rosan.com/images/catalog/atv/2015/ds250/ds_250_3-4_ylw_15.jpg"
          alt="Generic placeholder image">
        </div>
      </div>



      <!-- /END THE FEATURETTES -->