<% provide(:seadoo, "active") %>
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7">

          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTX S 4-TEC 155</span></h2>
          <p class="lead">Модель GTX S 155 отличается максимальным комфортом, который может обеспечить только гидроцикл с подвеской. Другие производители могут пытаться имитировать этот комфорт, но одних изменений в конструкции сиденья не достаточно, чтобы создать те же ощущения.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/files/2014/fotos/1/Image06.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTX 4-TEC LTD iS 260</span></h2>
          <p class="lead">Этот гидроцикл относится к классу люкс – естественно, у Вас есть определенные ожидания на их счет. Мы видим свою задачу в том, чтобы превзойти эти ожидания. Стандартная комплектация по системе "все включено": чехол, съемный водонепроницаемый контейнер для хранения, аварийно-спасательный комплект и эксклюзивное цветовое решение. Плюс глубиномер, вытяжные швартовы, органайзер для перчаточного ящика, датчик температуры воды и высокоэффективная система регулировки трима (VTS).</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/gtx/gtx_limited_is_260_my2015_side.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">RXT-X RS 260</span></h2>
          <p class="lead">Максимум адреналина на воде можно получить лишь тогда, когда выжмешь из своего гидроцикла до капли все, на что он способен. Теперь Вы по-новому взглянете на катание на гидроцикле благодаря эксклюзивной конструкции корпуса, эргономике и технологиям. Технические особенности этого гидроцикла делают управление комфортным, точным и интуитивным. Будь то катание в океане или лавирование между буйков, эти гидроциклы раскроют Вам всю силу безупречного управления и ускорения..</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/rxt_x_260_rs/rxt-x_260_my2015_side.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTR STD 215</span></h2>
          <p class="lead">Лучшее соотношение цена/качество в сегменте мощных гидроциклов. И двигатель с нагнетателем, который обеспечивает универсальна и подарит Вам более динамичное ускорение, чем конкурирующие модели. Модель GTR 215 универсальна и подарит Вам более точное управление. Как? Благодаря настройке под индивидуальные задачи с помощью аксессуаров, которые можно приобрести уже в ходе эксплуатации гидроцикла. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/gtr_std_215/gtr_215_my2015_side.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">RXP X 260 RS</span></h2>
          <p class="lead">Все технические характеристики этого гидроцикла создают для Вас преимущества, чтобы Вы могли оставить всех далеко позади. Как, например, сделали гонщики команды Sea-Doo X-TEAM, выиграв 14 из 15 возможных наград в классе Pro на своих гидроциклах Sea-Doo RXP-X нафинале чемпионата мира 2013 года IJSBA World Finals. Будь то катание в океане или лавирование между буйков, этот гидроцикл раскроют Вам всю силу безупречного управления и ускорения! </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/rxp_x_260/rxp-x_260_my2015_side.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">RXT-X aS 260 RS</span></h2>
          <p class="lead">Крупные волны даже не поймут, что пронеслось над ними. Этот мощный скоростной гидроцикл имеет оптимальный размер, скорость, стабильность и силу для того, чтобы справиться с более суровыми погодными условиями. Sea-Doo RXT-X aS 260 RS отличается от своих собратьев полностью астраиваемой подвеской, так что вы можете полностью сконцентрироваться на вождении, не напрягаясь и меньше уставая. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/rxt-x_as_260_rs/rxt-x_as_260_my2015_side.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">Spark 2-up 900 ACE</span></h2>
          <p class="lead">Rotax 900 ACE - 60 л.с., самый экономичный двигатель на рынке. Потребляет всего 3,79 л топлива в час. Двигатель обладает мощностью, достаточной для модели начального уровня, разгоняется до максимальной скорости 64 км/с. Корпус Exoskel® - это новая концепция структуры гидроцикла. Минималистичная конструкция использует две точки соединения, чтобы связать вместе ключевые структурные элементы в передней части гидроцикла. </p>
        </div>
        <div class="col-md-5">
          <img style= "margin-top:70px" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/spark_sideview_2up_conv_orange-crush.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">Spark 2-up 900 HO ACE</span></h2>
          <p class="lead">Rotax 900 HO ACE - 90 л.с., более мощный двигатель с лучшими показателями ускорения и большей максимальной скоростью, по сравнению с моделью Spark 2-up 900 ACE. Потребляет всего 7,57 л. топлива в час. Двигатель большей мощности, оснащен режимом Sport, максимальная скорость – 80,5 км/ч. Корпус Exoskel® - это новая концепция структуры гидроцикла. Такая конструкция позволяет снизить вес и создать современный, стильный дизайн, который подчеркивает уникальность и маневренность Sea-Doo Spark. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/spark_sideview_2up_conv_vanilla.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">Spark 2-up 900 HO ACE IBR</span></h2>
          <p class="lead">Двухместный Sea-Doo Spark с мощностью 90 л.с. и системой IBR электронного тормоза и реверса. Легкий в управлении, 185 кг веса на 90 сил. Самое высокое отношение мощности к весу. Ему легко придать индивидуальность: 5 цветовых решений, наклейки, опциональные комплектации и инновационные аксессуары. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/spark_sideview_2up_conv_vanilla.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">Spark 3-up 900 HO ACE</span></h2>
          <p class="lead">Трехместный Sea-Doo Spark с двигателем Rotax 900 HO ACE - 90 л.с., мощным двигателем с лучшими показателями ускорения и большей максимальной скоростью, который потребляет всего 7,57 л. топлива в час. Двигатель большей мощности, оснащен режимом Sport, максимальная скорость – 80,5 км/ч. Материал корпуса Polytec®, элементы которого созданы отличаются легкостью и прочностью, и позволяют создать легкий в управлении и долговечный гидроцикл. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/spark_sideview_3up_orange-crush.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">Spark 3-up 900 HO ACE IBR</span></h2>
          <p class="lead">Трехместный Sea-Doo Spark с мощностью 90 л.с. и системой IBR электронного тормоза и реверса. Легкий в управлении, с потрясающей маневренностью и соотношением веса и мощности. Rotax 900 HO ACE- 90 л.с., мощный двигатель с лучшими показателями ускорения и большей максимальной скоростью, который потребляет всего 7,57 л. топлива в час. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/spark_sideview_3up_ibr_pineapple.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTI 4-TEC 130 SE</span></h2>
          <p class="lead">Модели GTI SE поставляются в стандартной комплектации с множеством опций, которые обеспечили этому гидроциклу популярность среди семей, которые с удовольствием проводят время вместе на воде. Возьмите, к примеру, туринговое сиденье, VTS, посадочную подножку и многое другое. К тому же, наша эксклюзивная система интеллектуального торможения и заднего хода Intelligent Brake and Reverse (iBR™) – это единственная возможность затормозить на воде, что придает Вашей поездке больше уверенности и контроля. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/gtise130/gti_se_130_my2015_manta_green_side.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTI 4-TEC 155 SE</span></h2>
          <p class="lead">Модели GTI SE поставляются в стандартной комплектации с множеством опций, которые обеспечили этому гидроциклу популярность среди семей, которые с удовольствием проводят время вместе на воде. Возьмите, к примеру, туринговое сиденье, VTS, посадочную подножку и многое другое. К тому же, наша эксклюзивная система интеллектуального торможения и заднего хода Intelligent Brake and Reverse (iBR™) – это единственная возможность затормозить на воде, что придает Вашей поездке больше уверенности и контроля. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/folder/gti_se_155_my2015_side.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTI 4-TEC 155 LTD</span></h2>
          <p class="lead">Приобретая Sea-Doo GTI Limited 155, вы получаете в свое распоряжение опции, доступные только в комплектации Limited – например, уникальное цветовое решение премиум-класса, чехол для гидроцикла и высокоэффективную систему регулировки угла наклона водомета VTS. И, конечно же, эксклюзивную интеллектуальную тормозную систему и реверс (iBR). </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/gti_155_ltd/gti_limited_155_my2015_side.jpg" alt="Generic placeholder image">
        </div>
      </div>

       <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTI 4-TEC 130</span></h2>
          <p class="lead">Многофункциональность для всей семьи по доступной цене. Точный и легкий в управлении, многофункциональный и надежный гидроцикл, который поставляется в стандартной комплектации с богатым набором опций, которые обычно представлены лишь на более дорогих моделях. Экономичная модель с большим набором дополнительных опций и несколькими режимами движения, которые соответствуют вашему стилю катания. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_seadoo/gti130/GTI_130_MY2015_WHITE_MALDIVES_BLUE_SIDE%20copy.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTI WAKE 155</span></h2>
          <p class="lead">Модель Sea-Doo WAKE оборудована выдвижной стойкой для буксировки с высокой точкой крепления троса, что позволяет удерживать трос над поверхностью воды. Добавьте к этому эксклюзивный режим Ski и съемный кронштейн для вейкборда. Именно благодаря таким гидроциклам Sea-Doo стал официальным партнером профессиональной команды по вейкборду Nike Wakeskate Team. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/files/2014/fotos/5/Image07.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Гидроцикл <span class="text-muted">GTX WAKE PRO 215</span></h2>
          <p class="lead">Модель Sea-Doo WAKE оборудована выдвижной стойкой для буксировки с высокой точкой крепления троса, что позволяет удерживать трос над поверхностью воды. Добавьте к этому эксклюзивный режим Ski и съемный кронштейн для вейкборда. Для того, чтобы получить еще больше ощущений от катания, модель WAKE PRO 215 оснащена двигателем с нагнетателем и эксклюзивным корпусом S3 Hull, который обеспечивает дополнительную стабильность при буксировке вейкбордистов. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://rosan.com/files/2014/fotos/6/Image06.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->
