<% provide(:skidoo, "active") %>
      <!-- START THE FEATURETTES -->
      <style type="text/css">
      #scidoo { margin-top: 100px}
      </style>
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">RENEGADE X-RS 800R E-TEC</span></h2>
          <p class="lead">Трассы – ваше всё. И мы это понимаем. Вот почему мы сделали Renegade 2015 года еще более агрессивным покорителем трасс. Он по прежнему является очень эффективным на разбитых трассах, но теперь повышенная проходимость не влияет на остроту прохождения поворотов.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/2_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div id="scidoo" class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic WT 550</span></h2>
          <p class="lead">Вы выжимаете из своего снегохода абсолютно все. Мы совершенствуем наши утилитарные технологии. Наша эксклюзивная телескопическая конструкция обладает непревзойденными качествами при движении по глубокому снегу на низкой скорости – она позволяет корпусу снегохода двигаться подобно лодке, не цепляясь за различные препятствия.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_WT_550/skandic_wt_550f_yl_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Tundra WT 550</span></h2>
          <p class="lead">Мы взяли за основу прочную платформу, и создали настоящий спортивно-утилитарный снегоход. Шасси REV-XU обладает прочностью, а удобство расположения водителя позволет передвигаться по трассам или прокладывать маршруты по свежему снегу. Наша эксклюзивная телескопическая конструкция LTS обладает непревзойденными качествами придвижении по глубокому снегу на низкой скорости – она позволяет корпусу снегохода двигаться подобно лодке, не цепляясь за различные препятствия.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_WT_550/tundra_wt_550f_yl_my15.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic WT 600 ACE</span></h2>
          <p class="lead">Технология управления дроссельной заслонкой iTC позволяет выбрать один из трех режимов работы двигателя (Sport, Standard и ECO), или ограничить скорость и мощность в режиме учебного ключа Learning Key. Двигатель 900 ACE имеет мощность 90 л.с.; двигатель 600 ACE – 60 л.с., являясь при этом самыми экономичными двигателями в отрасли. НОВЫЙ передний курок управления дросселем! Теперь курок управления дросселем может быть повернут вперед.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_WT_600_ACE/skandic_wt_600a_yl_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>


      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic WT 900 ACE</span></h2>
          <p class="lead">Технология управления дроссельной заслонкой iTC позволяет выбрать один из трех режимов работы двигателя (Sport, Standard и ECO), или ограничить скорость и мощность в режиме учебного ключа Learning Key. Двигатель 900 ACE имеет мощность 90 л.с.; двигатель 600 ACE – 60 л.с., являясь при этом самыми экономичными двигателями в отрасли. НОВЫЙ передний курок управления дросселем! Теперь курок управления дросселем может быть повернут вперед.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_WT_900_ACE/skandic_wt_900a_yl_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">TUNDRA LT 600 ACE</span></h2>
          <p class="lead">Технология управления дроссельной заслонкой iTC позволяет выбрать один из трех режимов работы двигателя (Sport, Standard и ECO), или ограничить скорость и мощность в режиме учебного ключа Learning Key. Двигатель 900 ACE имеет мощность 90 л.с.; двигатель 600 ACE – 60 л.с., являясь приэтом самыми экономичными двигателями в отрасли. НОВЫЙ передний курок управления дросселем! Теперь курок управления дросселем может быть повернут вперед.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/TUNDRA_LT_600_ACE/tundra_lt_600a_wt-wt_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">TUNDRA Xtreme 600 E-TEC</span></h2>
          <p class="lead">C обновленной Tundra Xtreme, вы вызовите у ваших друзей приступ зависти. Шасси REV-XU обладает прочностью, а удобство расположения водителя позволет передвигаться по трассам или прокладывать маршруты по свежему снегу. Вы выжимаете из своего снегохода абсолютно все. Мы совершенствуем наши утилитарные технологии.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/TUNDRA_Xtreme_600_E-TEC/tundra_extrem_600ho_racor-bk_my15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">EXPEDITION SPORT 900 ACE</span></h2>
          <p class="lead">Двигатель 900 ACE с системой ITC - четырехтактный двигатель, построенный по технологии оптимизированного сгорания топлива, обеспечивают низкий расход бензина и малые затраты на обслуживание, имея при этом высокий крутящий момент для любого типа использования. Интеллектуальное управление дроссельной заслонкой (iTC) позволяет выбрать один из трех режимов – Sport, Standard или ECO, путем простого нажатия на клавишу. НОВЫЙ передний курок управления дросселем. Теперь курок управления дросселем може тбыть повернут вперед.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/EXPEDITION_SPORT_900_ACE/expedition_sport_900a_wt-wt_my15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">FREERIDE 137 800R E-TEC</span></h2>
          <p class="lead">Платформа REV-XM RS - основа радикальных моделей Freeride с дополнительно усиленными деталями для легкого восприятия тяжелых нагрузок. Усиленная рама, стандартное положение рулевой колонки со смещением вперед, лыжи Pilot™ DS 2, более широкая колея лыж, по сравнению с Summit, съемная стойка стабилизатора поперечной устойчивости.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/FREERIDE_137_800R_E-TEC/freeride_137_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">FREERIDE 146 800R E-TEC</span></h2>
          <p class="lead">Вы покоряете все более крутые вершины. А мы совершенствуем наши горные технологии. Платформа REV-XM RS - основа радикальных моделей Freeride с дополнительно усиленными деталями для легкого восприятия тяжелых нагрузок. Усиленная рама, стандартное положение рулевой колонки со смещением вперед, лыжи Pilot™ DS 2, более широкая колея лыж, по сравнению с Summit, съемная стойка стабилизатора поперечной устойчивости.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/FREERIDE_146_800R_E-TEC/freeride_146_800r_mangn_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">FREERIDE 154 800R E-TEC</span></h2>
          <p class="lead">Вы покоряете все более крутые вершины. А мы совершенствуем наши горные технологии. Платформа REV-XM RS - основа радикальных моделей Freeride с дополнительно усиленными деталями для легкого восприятия тяжелых нагрузок. Усиленная рама, стандартное положение рулевой колонки со смещением вперед, лыжи Pilot™ DS 2, более широкая колея лыж, по сравнению с Summit, съемная стойка стабилизатора поперечной устойчивости.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/FREERIDE_154_800R_E-TEC/freeride_154_800r_mangn_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT SP 146 600 E-TEC</span></h2>
          <p class="lead">Подвеска tMotion, наклоняясь в тоннеле, значительно снижает усилие для наклона снегохода в повороте. Работая в сочетании с подвеской tMotion, гусеница с гибким краем FlexEdge дополнительно снижает сопротивление наклону снегохода при езде вдоль склона. В результате вы получаете ультра-отзывчивый и точно управляемый снегоход. А подвеска с прогрессивной характеристикой смягчает небольшие неровности и обладает энергоемкостью для поглощения сильных ударов при приземлениях после прыжков.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_SP_146_600_E-TEC/summit_sp_600ho_146_bk-bk_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT SP 154 600 E-TEC</span></h2>
          <p class="lead">Подвеска tMotion, наклоняясь в тоннеле, значительно снижает усилие для наклона снегохода в повороте. Работая в сочетании с подвеской tMotion, гусеница с гибким краем FlexEdge дополнительно снижает сопротивление наклону снегохода при езде вдоль склона. В результате вы получаете ультра-отзывчивый и точно управляемый снегоход. А подвеска с прогрессивной характеристикой смягчает небольшие неровности и обладает энергоемкостью для поглощения сильных ударов при приземлениях после прыжков.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_SP_146_600_E-TEC/summit_sp_600ho_146_bk-bk_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT SP 154 800R E-TEC</span></h2>
          <p class="lead">Подвеска tMotion, наклоняясь в тоннеле, значительно снижает усилие для наклона снегохода в повороте. Работая в сочетании с подвеской tMotion, гусеница с гибким краем FlexEdge дополнительно снижает сопротивление наклону снегохода при езде вдоль склона. В результате вы получаете ультра-отзывчивый и точно управляемый снегоход. А подвеска с прогрессивной характеристикой смягчает небольшие неровности и обладает энергоемкостью для поглощения сильных ударов при приземлениях после прыжков.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_SP_154_800R_E-TEC/summit_sp_800r_154_regblk_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT SP 163 800R E-TEC</span></h2>
          <p class="lead">Подвеска tMotion, наклоняясь в тоннеле, значительно снижает усилие для наклона снегохода в повороте. Работая в сочетании с подвеской tMotion, гусеница с гибким краем FlexEdge дополнительно снижает сопротивление наклону снегохода при езде вдоль склона. В результате вы получаете ультра-отзывчивый и точно управляемый снегоход. А подвеска с прогрессивной характеристикой смягчает небольшие неровности и обладает энергоемкостью для поглощения сильных ударов при приземлениях после прыжков.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_SP_163_800R_E-TEC/kopiya_summit_sp_800r_163_regblk_my15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT X 146 800R E-TEC</span></h2>
          <p class="lead">Вы покоряете все более крутые вершины. А мы совершенствуем наши горные технологии. Мы уменьшили количество переключателей на руле до минимально необходимых, для устранения нежелательных срабатываний. Большинство функций перенесено на консоль, а кнопка запуска/заднего хода защищена от случайного нажатия.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_X_146_800R_E-TEC/summit_x_800r_146_bk-bk_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT X 146 800R E-TEC</span></h2>
          <p class="lead">Вы покоряете все более крутые вершины. А мы совершенствуем наши горные технологии. Мы уменьшили количество переключателей на руле до минимально необходимых, для устранения нежелательных срабатываний. Большинство функций перенесено на консоль, а кнопка запуска/заднего хода защищена от случайного нажатия.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_X_146_800R_E-TEC/summit_x_800r_146_bk-bk_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT X 154 800R E-TEC</span></h2>
          <p class="lead">Ключ к мгновенному отклику и легкому управлению снегоходов Summit и Freeride. Подвеска tMotion, наклоняясь в тоннеле, значительно снижает усилие для наклона снегохода в повороте. Работая в сочетании с подвеской tMotion, гусеница с гибким краем FlexEdge дополнительно снижает сопротивление наклону снегохода при езде вдоль склона. В результате вы получаете ультра-отзывчивый и точно управляемый снегоход. А подвеска с прогрессивной характеристикой смягчает небольшие неровности и обладает энергоемкостью для поглощения сильных ударов при приземлениях после прыжков.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_X_154_800R_E-TEC/summit_x_800r_154_racor-bk_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT X 154 800R E-TEC (H-ALT, ES)</span></h2>
          <p class="lead">Вы покоряете все более крутые вершины. А мы совершенствуем наши горные технологии. Мы уменьшили количество переключателей на руле до минимально необходимых, для устранения нежелательных срабатываний. Большинство функций перенесено на консоль, а кнопка запуска/заднего хода защищена от случайного нажатия.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_X_154_800R_E-TEC_(H-ALT_ES)/summit_x_800r_154_bk-bk_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT X T3 163 800R E-TEC</span></h2>
          <p class="lead">НОВАЯ комплектация T3: Когда вы покоряете одну вершину, вы это не празднуете. Вы начинаете задумываться о покорении новой. Да, наши снегоходы Summit стали еще лучше, чем когда-либо. Именно из-за того, что мы стали работать совместно с вами, чтобы подняться еще выше и попасть в непокоренные места. Гусеница PowderMax 3 с гибким краем FlexEdge , грунтозацеп 3 дюйма, оптимизированная конструкция, (снижение веса: 1,1 кг), корпус цепного редуктора удлинен и оптимизирован (снижение веса: 705 гр.) и многое другое.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_X_T3_163_800R_E-TEC/summit_x3_800r_163_sunyl-bk_my15_cat_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">SUMMIT X T3 174 800R E-TEC</span></h2>
          <p class="lead">НОВАЯ комплектация T3: Когда вы покоряете одну вершину, вы это не празднуете. Вы начинаете задумываться о покорении новой. Да, наши снегоходы Summit стали еще лучше, чем когда-либо. Именно из-за того, что мы стали работать совместно с вами, чтобы подняться еще выше и попасть в непокоренные места. Все началось с гусеницы с грунтозацепом в 3 дюйма (76 мм –самый высокий в снегоходной отрасли. Продолжилось поиском снижения веса. И закончилось установкой огромной, но управляемой гусеницы длиной 174 дюйма, которая весит не больше стандартной гусеницы снегохода Summit X 163 с зацепом 2.5 дюйма* – что также впервые в отрасли. *Общее снижение веса составило 7,4 кг (Summit X 174в комплектации T3 по сравнению с Summit X 163 с гусеницей 2.5 дюйма).</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/SUMMIT_X_T3_174_800R_E-TEC/summit_x3_800r_174_sunyl-bk_my15_cat_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Expedition SE 1200 4-TEC</span></h2>
          <p class="lead">Улучшенное движение по укатанному и по рыхлому снегу благодаря задней подвеске SC-5U. Ее упругий задний маятник может отгибаться, уменьшая пятно контакта на укатанном снегу для увеличения управляемости или улучшения проходимости задним ходом в рыхлом снегу. Также, он может быть заблокирован при буксировке  тяжелых грузов.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Expedition_SE_1200_4-TEC/expedition_se_1200_platsat_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic SWT 550 EUR</span></h2>
          <p class="lead">Вы выжимаете из своего снегохода абсолютно все. Мы совершенствуем наши утилитарные технологии. Улучшенное движение по укатанному и по рыхлому снегу благодаря задней подвеске SC-5U. Ее упругий задний маятник может отгибаться, уменьшая пятно контакта на укатанном снегу для увеличения управляемости или улучшения проходимости задним ходом в рыхлом и глубоком снегу. Также, он может быть заблокирован при буксировке тяжелых грузов.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_SWT_550_EUR/skandic_swt_550ho_yl_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic SWT 900 ACE</span></h2>
          <p class="lead">Технология управления дроссельной заслонкой iTC позволяет выбрать один из трех режимов работы двигателя (Sport, Standard и ECO), или ограничить скорость и мощность в режиме учебного ключа Learning Key. Двигатель 900 ACE имеет мощность 90 л.с.; двигатель 600 ACE – 60 л.с., являясь при этом самыми экономичными двигателями в отрасли.НОВЫЙ передний курок управления дросселем! Теперь курок управления дросселем может быть повернут вперед.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_SWT_900_ACE/skandic_swt_900a_yl_my15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic SWT 900 ACE</span></h2>
          <p class="lead">Технология управления дроссельной заслонкой iTC позволяет выбрать один из трех режимов работы двигателя (Sport, Standard и ECO), или ограничить скорость и мощность в режиме учебного ключа Learning Key. Двигатель 900 ACE имеет мощность 90 л.с.; двигатель 600 ACE – 60 л.с., являясь при этом самыми экономичными двигателями в отрасли.НОВЫЙ передний курок управления дросселем! Теперь курок управления дросселем может быть повернут вперед.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_SWT_900_ACE/skandic_swt_900a_yl_my15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic SWT 900 ACE</span></h2>
          <p class="lead">Технология управления дроссельной заслонкой iTC позволяет выбрать один из трех режимов работы двигателя (Sport, Standard и ECO), или ограничить скорость и мощность в режиме учебного ключа Learning Key. Двигатель 900 ACE имеет мощность 90 л.с.; двигатель 600 ACE – 60 л.с., являясь при этом самыми экономичными двигателями в отрасли.НОВЫЙ передний курок управления дросселем! Теперь курок управления дросселем может быть повернут вперед.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_SWT_900_ACE/skandic_swt_900a_yl_my15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic SWT 900 ACE</span></h2>
          <p class="lead">Технология управления дроссельной заслонкой iTC позволяет выбрать один из трех режимов работы двигателя (Sport, Standard и ECO), или ограничить скорость и мощность в режиме учебного ключа Learning Key. Двигатель 900 ACE имеет мощность 90 л.с.; двигатель 600 ACE – 60 л.с., являясь при этом самыми экономичными двигателями в отрасли.НОВЫЙ передний курок управления дросселем! Теперь курок управления дросселем может быть повернут вперед.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_SWT_900_ACE/skandic_swt_900a_yl_my15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic SWT 600 E-TEC</span></h2>
          <p class="lead">Вы выжимаете из своего снегохода абсолютно все.Мы совершенствуем наши утилитарные технологии. Мы взяли за основу прочную платформу, и создали настоящий спортивно-утилитарный снегоход. Шасси REV-XU обладает прочностью, а удобство расположения водителя позволет передвигаться по трассам или прокладывать маршруты по свежему снегу. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_SWT_600_E-TEC/skandic_swt_600ho_yl_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Снегоход <span class="text-muted">Skandic WT 600 E-TEC</span></h2>
          <p class="lead">Вы выжимаете из своего снегохода абсолютно все. Мы совершенствуем наши утилитарные технологии. Мягкое трогание с места даже с тяжелым грузом, благодаря двум передачам переднего хода и одной передаче заднего хода. Улучшенное движение по укатанному и по рыхлому снегу. Ее упругий задний маятник может отгибаться, уменьшая пятно контакта на укатанном снегу для увеличения управляемости или улучшения проходимости задним ходом в рыхлом и глубоком снегу. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="scidoo" class="featurette-image img-responsive center-block" src="http://rosan.com/images/cms/data/2015Ski-doo/Skandic_WT_600_E-TEC/skandic_wt_600ho_yl_my15_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->