<% provide(:spider, "active") %>
      <style type="text/css">
        #spider {margin-top: 50px}
      </style>    
      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder ST SM5</span></h2>
          <p class="lead">Вертикальная посадка водителя, подножки и дополнительное пространство для ног – Spyder ST создан для того, чтобы обеспечивать комфорт в течение целого дня. Он отлично защищает от ветра и готов к изменениям погоды благодаря регулируемой высоте ветрового стекла и боковым дефлекторам.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/st/st_3-4-blk_15.png" alt="Generic placeholder image">
        </div>
      </div>


            <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder ST-S SM5</span></h2>
          <p class="lead">Двигатель Rotax V-Twin с рабочим объемом 998 см3 обеспечивает отличное ускорение. Владельцы могут выбирать между механическим и полуавтоматическим переключением передач одним нажатием пальца, а задний ход входит в стандартную комплектацию родстера. Y-образный дизайн рамы SpyderST и система курсовой устойчивости VSS обеспечивают максимальную устойчивость родстера и улучшают управляемость.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/st-s/st-s_sm5_white.png" alt="Generic placeholder image">
        </div>
      </div>

                  <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder ST LTD SE5</span></h2>
          <p class="lead">Вертикальная посадка водителя, подножки и дополнительное пространство для ног – Spyder ST создан для того, чтобы обеспечивать комфорт в течение целого дня. Он отлично защищает от ветра и готов к изменениям погоды благодаря регулируемой высоте ветрового стекла и боковым дефлекторам.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/st_ltd/st-limited_3-4-wht_15.png" alt="Generic placeholder image">
        </div>
      </div>

                        <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RT SM6</span></h2>
          <p class="lead">Y-образный дизайн рамы Spyder RT и современные автомобильные технологии гарантируют безопасность, а настроенная на комфортную езду подвеска, ветровое стекло с электронной регулировкой высоты и ультракомфортное сиденье со спинкой создают все условия для роскошного путешествия как для водителя, так и для пассажира.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rt/rt_3-4_blk_15.png" alt="Generic placeholder image">
        </div>
      </div>

            <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RT-S SE6</span></h2>
          <p class="lead">Благодаря объемным встроенным багажным отсекам и аудиосистеме премиум-класса Spyder RT идеально подходит для длительных поездок. Рядный трехцилиндровый двигатель Rotax 1330 ACE с высоким крутящим моментом великолепно откликается на курок газа на любой передаче.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rt-s/rt-s_3-4-cirylw_14.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RT-S SPECIAL SE6</span></h2>
          <p class="lead">Рядный трехцилиндровый двигатель Rotax 1330 ACE с высоким крутящим моментом великолепно откликается на курок газа на любой передаче. Шестиступенчатая трансмиссия Spyder RT с высокотехнологичной системой сцепления и режимом ECO™ позволяет покрыть расстояние до 406 км на скорости в 100 км/ч на одной заправке топливного бака.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rt-s-spec/rt-s-ss_3-4-pltblk_15.png" alt="Generic placeholder image">
        </div>
      </div>

            <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RT-S SPECIAL SE6</span></h2>
          <p class="lead">Y-образный дизайн рамы Spyder RT и современные автомобильные технологии гарантируют безопасность, а настроенная на комфортную езду подвеска, ветровое стекло с электронной регулировкой высоты и ультракомфортное сиденье со спинкой создают все условия для роскошного путешествия как для водителя, так и для пассажира.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rt_ltd/rt-limited_3-4_intred_15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder ST SE5</span></h2>
          <p class="lead">Вертикальная посадка водителя, подножки и дополнительное пространство для ног – Spyder ST создан для того, чтобы обеспечивать комфорт в течение целого дня. Он отлично защищает от ветра и готов к изменениям погоды благодаря регулируемой высоте ветрового стекла и боковым дефлекторам.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/st/st_3-4-blk_15.png" alt="Generic placeholder image">
        </div>
      </div>

            <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder ST-S SE5</span></h2>
          <p class="lead">Двигатель Rotax V-Twin с рабочим объемом 998 см3 обеспечивает отличное ускорение. Владельцы могут выбирать между механическим и полуавтоматическим переключением передач одним нажатием пальца, а задний ход входит в стандартную комплектацию родстера. Y-образный дизайн рамы Spyder ST и система курсовой устойчивости VSS обеспечивают максимальную устойчивость родстера и улучшают управляемость.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/st-s/st-s_3-4-denblu_15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RS SM5</span></h2>
          <p class="lead">Двигатель 998 cc Rotax V-Twin с высоким крутящим моментом обеспечивает превосходное ускорение. Возможность выбрать между механической и полуавтоматической трансмиссией, которая управляется одним движением пальца, а также специально созданные для этой модели высокоэффективные тормоза Brembo дарят водителю уверенность и контроль.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rs/rs_3-4-blk_14.png" alt="Generic placeholder image">
        </div>
      </div>

            <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RS-S SM5</span></h2>
          <p class="lead">В основе модели лежит фирменный Y-образный дизайн рамы, создающей устойчивую и динамичную платформу. Исключительная точность управления Spyder RS поддерживается спортивной калибровкой системы стабилизации движения VSS, созданной в партнерстве с компанией BOSCH – в нее входят система курсовой устойчивости, противобуксовочная и антиблокировочная системы.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rs-s/rs-s_3-4-prlwhtblk_15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RS-S SM5</span></h2>
          <p class="lead">В основе модели лежит фирменный Y-образный дизайн рамы, создающей устойчивую и динамичную платформу. Исключительная точность управления Spyder RS поддерживается спортивной калибровкой системы стабилизации движения VSS, созданной в партнерстве с компанией BOSCH – в нее входят система курсовой устойчивости, противобуксовочная и антиблокировочная системы.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rs-s/rs-s_3-4-prlwhtblk_15.png" alt="Generic placeholder image">
        </div>
      </div>

            <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RS-S SPECIAL SE5</span></h2>
          <p class="lead">В основе модели лежит фирменный Y-образный дизайн рамы, создающей устойчивую и динамичную платформу. Исключительная точность управления Spyder RS поддерживается спортивной калибровкой системы стабилизации движения VSS, созданной в партнерстве с компанией BOSCH. В дополнение к этому передние газовые амортизаторы FOX PODIUM настроены на жесткую езду с точным управлением.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rs-s_special/rs-s-ss_3-4-calgrn_15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RS SE5</span></h2>
          <p class="lead">Двигатель 998 cc Rotax V-Twin с высоким крутящим моментом обеспечивает превосходное ускорение. Возможность выбрать между механической и полуавтоматической трансмиссией, которая управляется одним движением пальца, а также специально созданные для этой модели высокоэффективные тормоза Brembo дарят водителю уверенность и контроль.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rs/rs_3-4-blk_14.png" alt="Generic placeholder image">
        </div>
      </div>

            <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder RS-S SE5</span></h2>
          <p class="lead">В основе модели лежит фирменный Y-образный дизайн рамы, создающей устойчивую и динамичную платформу. Исключительная точность управления Spyder RS поддерживается спортивной калибровкой системы стабилизации движения VSS, созданной в партнерстве с компанией BOSCH – в нее входят система курсовой устойчивости, противобуксовочная и антиблокировочная системы.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/rs/rs_3-4-blk_14.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder F3 SM5</span></h2>
          <p class="lead">Низкий центр тяжести Spyder F3 и индивидуальная посадка водителя дополняют фирменную Y-образную конструкцию и высокотехнологичную систему стабилизации движения VSS, которая включает в себя систему курсовой устойчивости, противобуксовочную и антиблокировочную системы – все, что необходимо для точного и уверенного управления и безупречной устойчивости на дороге.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/f3_3-4-blk_15.png" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Родстер <span class="text-muted">Spyder F3-S SE5</span></h2>
          <p class="lead">Модель комплектуется двигателем Rotax 1330 ACE™, который обеспечивает внушительную мощность, отличный крутящий момент и отличается характерным звуком. Быть лучшим в области комфорта для водителя – это не просто слова. Spyder F3 оборудован эксклюзивной системой UFit, которая позволяет водителю отрегулировать посадку на свое усмотрение, чтобы Spyder F3 мог подарить по-настоящему индивидуальную эргономику и уникальные ощущения от катания.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img id="spider" class="featurette-image img-responsive center-block" src="http://rosan.com/images/2015_spyder/f3s/f3-s_3-4-plt_15.png" alt="Generic placeholder image">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->